* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: rgb(247, 249, 251);
  width: 100%;
  height: 100vh;
  color: rgb(42, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.date, .uk-time, .bg-time {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100px;
  background-color: rgb(232, 202, 228);
  border-radius: 10px;
}